.dailyForecastContainer{
    display: flex;
    overflow-x: scroll;
    gap: 3rem;
    margin: 1rem;
    width: 90%;
    max-width: 100%;
}
.dailyForecastContainer::-webkit-scrollbar{
    display: none;
}