.inputContainer{
    position: relative;
    display: flex;
    justify-content: center;
}
.inputField{
    width: 65vw;
    padding: 0.9rem 2.5rem;
    border-radius: 1.3rem;
    margin:30px 0px 0px 0px;
    border: none;
}
.googleMapsIcon{
    top: 6%;
    left: 2.3rem;
    position: absolute;
    transform: translateY(-50%);
}
.micIcon{
    top: 6%;
    right: 2.5rem;
    position: absolute;
    transform: translateY(-50%);
}