.inputContainer{
    position: relative;
    display: flex;
    justify-content: center;
    /* width: 90vw; */
}
.inputField{
    width: 65vw;
    padding: 0.9rem 2.5rem;
    border-radius: 1.3rem;
    margin:30px 0px 0px 0px;
    border: none;
}
.inputFieldSearch{
    width: 65vw;
    padding: 0.9rem 2.5rem;
    border-radius: 1.3rem;
    margin:30px 0px 0px 0px;
    border: 1px solid black;
}
.inputSuggestionsContainer{
    background-color: aliceblue;
    position: absolute;
    z-index: 1;
    margin-left: 2.5rem;
    padding-left: 1rem;
    width: 75vw;
    border-radius: 1rem;
}
.inputSuggestions{
    text-decoration: underline;
    /* border-bottom: 1px solid black; */
}
.googleMapsIcon{
    /* top: 6%;
    left: 2.3rem;
    position: absolute;
    transform: translateY(-50%); */
    position: absolute;
    top: 40px;
    left: 40px;
}
.micIcon{
    position: absolute;
    top: 40px;
    right: 50px;
    /* top: 6%;
    right: 2.5rem;
    position: absolute;
    transform: translateY(-50%); */
}

@media only screen and (min-width: 800px) {
    /* .inputContainer{
        width: 800px;
    } */
    .googleMapsIcon{
        top: 40px;
        left: 240px;
    }
    .micIcon{
        top: 40px;
        right: 250px;
    }
    .inputSuggestionsContainer{
        left: 12%;
        width: 70vw;
    }
  }