.inputContainer{
    position: relative;
    display: flex;
    justify-content: center;
}
.inputField{
    width: 65vw;
    padding: 0.9rem 2.5rem;
    border-radius: 1.3rem;
    margin:30px 0px 0px 0px;
    border: none;
}
.inputFieldSearch{
    width: 65vw;
    padding: 0.9rem 2.5rem;
    border-radius: 1.3rem;
    margin:30px 0px 0px 0px;
    border: 1px solid black;
}
.inputSuggestionsContainer{
    background-color: aliceblue;
    position: absolute;
    z-index: 1;
    margin-left: 2.5rem;
    padding-left: 1rem;
    width: 75vw;
    border-radius: 1rem;
}
.inputSuggestions{
    text-decoration: underline;
    /* border-bottom: 1px solid black; */
}
.googleMapsIcon{
    top: 6%;
    left: 2.3rem;
    position: absolute;
    transform: translateY(-50%);
}
.micIcon{
    top: 6%;
    right: 2.5rem;
    position: absolute;
    transform: translateY(-50%);
}

@media only screen and (min-width: 800px) {
    .googleMapsIcon{

        left: 15.5%;
        top: 7.5%;
    }
    .micIcon{
        right: 15.5%;
        top: 7.5%;
    }
    .inputSuggestionsContainer{
        left: 12%;
        width: 70vw;
    }
  }