.weatherOverview{
    display: flex;
    background: rgba(139, 192, 242, 0.42);
    width: 90vw;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    gap: 2.5rem;
    height: 15vh;
}

@media only screen and (min-width: 600px) {
    .weatherOverview{
        width: 65vw;
        justify-content: space-evenly;
    }
  }